{% extends 'study/index.html' %}

{% block title %}
{{ quiz.book }} {{ quiz.chapter }}
{% endblock %}


{% block head %}
{{super()}}
<style>
    .quiz-container {
        margin: 0 auto;
        display: flex;
        background-color: #ababab;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .question-container {
        scroll-snap-align: start;
        flex: 1 0 100%;
        width: 100%;
        height: 100%;
        padding: 1rem;
    }

    .question {
        height: 100%;
        width: 100%;
    }
</style>
{% endblock %}

{% block content %}
<h1>{{ quiz.book }} {{ quiz.chapter }} Quiz</h1>
<div class="quiz-container">
    {% for section in quiz.quiz_structure.sections %}
    <div class="section-container">
        <h2>{{ section.name }}</h2>
        {% for q in section.questions %}
        <div class="question-container">
            <div class="question">{{ q.question.text }}</div>
            <div class="answer">{{ q.question.correct_answer }}</div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script></script>
{% endblock %}