{% extends 'study/index.html' %}
{{ super() }}

{% block head %}
{{super()}}
{% block title %}
{{ quiz.book }} {{ quiz.chapter }}
{% endblock %}
<style></style>
{% endblock %}

{% block content %}
<h1>{{ quiz.book }} {{ quiz.chapter }} Quiz</h1>
<div class="quiz-container">
    {% for section in quiz.quiz_structure.sections | reverse %}
    <div class="section-container">
        <h2>{{ section.name | capitalize }}</h2>
        {% for q in section.questions | reverse %}
        <div class="question-container">
            <div class="question">{{ q.question.text }}</div>
            <div class="answer">{{ q.question.correct_answer }}</div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}