<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Bible Quizzer</title>
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
    {% endblock %}
</head>

<body>
    <div>
        {% block header %}
        <nav class="navbar">
            <a class="navbar-brand" href="/">Bible Quizzer</a>
            <ul>
                {% for link in routes %}
                {% if link[0] == request.path %}
                <li class="nav-item active-link">
                    <a href="{{ link[0] }}">{{ link[1] }}</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{{ link[0] }}">{{ link[1] }}</a>
                </li>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </nav>
        {% endblock %}
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <div class="footer">
        {% block footer %}
        <div class="footer-text">
            &copy;
            <span id="current-year">
                <noscript>
                    {{ '2024' | check_current_year }}
                </noscript>
            </span> by D.R.
        </div>
        {% endblock %}
    </div>
    <script type="text/javascript">
        document.getElementById("current-year").innerHTML = new Date().getFullYear();
    </script>
</body>

</html>